<template>
  <app-error-404></app-error-404>
</template>

<script>

import AppError404 from '~c/E404.vue'

export default {
  components: {
    AppError404
  }
}
</script>
<style lang='sass' scoped>
.notfound
  margin: 50px 0
  .text-danger
    font-size: 120px  
  p
    font-size: 25px
    a
      font-size: 16px  

 
</style>
