<template>
  <div class="container">
    <Loader v-if="!loaded"/>
    <div v-else class="row">
      <div v-if="list.length == 0" class="col">
        <app-error-404></app-error-404>
      </div>
      <div v-else class="col">
        <div class="row align-items-center">
          <div class="col-sm-9">
            <h1>{{name}}</h1>
          </div>
          <div class="col-sm-3">
            <a @click.prevent="$router.go(-1)" href="#" v-if="" class="btn btn-block btn-success">Back to List</a>
          </div>
        </div>
        <hr>
        <ul class="list-group">
          <li class="list-group-item"
              v-for="item in list"
              :key="item.id"
              :class="{
                'list-group-item-success' : item.completed,
                'list-group-item-danger' : !item.completed
              }"
          >
            <h6>{{item.title}}</h6>
            <strong>Completed: {{item.completed}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'
import Loader from '~c/Loader'

export default {
  components: {
    Loader
  },
  computed: {
    ...mapGetters({
      loaded:'todo/loaded',
      list:'todo/list',
      user:'todo/user',
    }),
    id(){
      return this.$route.params.id;
    },
    name(){
      return this.user.name
    },
  },
  methods: {
    ...mapActions({
      load:'todo/load',
      loadUser:'todo/loadUser'
    })
  },
  async mounted() {
    await this.loadUser(this.id)
    this.load(this.id)
  },
  destroyed(){
    this.$store.dispatch('todo/clear');
  }
}
</script>