<template>
  <div  class="container" :key="id">
    <Loader v-if="!loaded" /> 
    <div v-else class="row">
      <div v-if="users.length == 0" class="col">
        <app-error-404></app-error-404>
      </div>
      <div v-else class="col">
        <div class="table-responsive-md">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user.id">
                <td>
                  <router-link :to="{
                    name: 'todo',
                    params: {
                      id: user.id,
                    }
                  }">
                    {{user.name}}
                  </router-link>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pager :count="count" :current="id" @change-page="onChangePage($event)"/>
      </div>
    </div>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import Pager from '~c/Pager'
import AppError404 from '~c/E404.vue'
import Loader from '~c/Loader'

export default {
  components: {
    Pager,
    AppError404,
    Loader
  },
  computed: {
    ...mapGetters({
      users:'users/list',
      loaded:'users/loaded',
      count:'users/count',
    }),
    id(){
      return parseInt(this.$route.params.id)
    }
  },
  mounted(){
    this.$store.dispatch('users/load', this.id);
  },
  methods: {
    async onChangePage(data){
      this.$store.dispatch('users/clear');
      await this.$store.dispatch('users/load', data.id);
      
      this.$router.push({ 
        name: 'users', 
        params: { id: data.id } 
      })
    }
  }

}
</script>

