<template>
  <div class="notfound text-center">
    <strong class="text-danger">404</strong>
    <p>
        <strong>
            Page is not found
            <br>
        </strong>
        <router-link :to="{name: 'home'}">Go to main page</router-link>
    </p>
  </div>
</template>

<script>

// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  components: {
    // HelloWorld
  }
}
</script>
<style lang='sass' scoped>
.notfound
  margin: 50px 0
  .text-danger
    font-size: 120px  
  p
    font-size: 25px
    a
      font-size: 16px  

 
</style>
