<template>
  <header>
    <div class="container">
      <div class="row">
          <div class="col">
            User Todo
          </div>
      </div>
    </div>
  </header>
</template>

<style lang='sass' scoped>
header
  background: #28a745
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5)
  margin-bottom: 30px  
  padding: 15px 0
  color: #fff
  font-size: 20px
  font-weight: bold   
</style>
