<template>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item" :class="{disabled: current <= 1}">
          <a class="page-link" @click.prevent="changePage(prevPage)" href="#">Previous</a>
        </li>
        <li class="page-item"
          :class="{active: current == i}"
          v-for="i in pages">
          <a class="page-link" @click.prevent="changePage(i)" href="#" :key="i">{{i}}</a>
        </li>
        
        <li class="page-item" :class="{disabled: current >= pages}">
          <a class="page-link" @click.prevent="changePage(nextPage)" href="#">Next</a>
        </li>
      </ul>
    </nav>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  props: {
    count: {
      type: Number,
      required: true
    },
    current: {
      type: Number,
      default: 1
    }
  },
  computed: {
    prevPage(){
      return this.current - 1
    },
    nextPage(){
      return this.current + 1
    },
    pages(){
      return Math.ceil(this.count / 5)
    }
  },
  methods: {
    changePage(page){
      this.$emit('change-page', {id: page})
    }
  }
}
</script>