<template>
  <div id="app">
    <app-header></app-header>
    <router-view/>
  </div>
</template>
<script>

import AppHeader from '~c/Header'

export default {
  name: 'app',
  components: {
   AppHeader
  }
}
</script>
<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  margin-bottom: 50px  
.container
  position: relative
</style>